{% extends "layout/login_layout.html" %} {% block body %}
<main class="pt-5 mx-lg-5">
    <!--Grid column-->
    <div class="row wow fadeIn">
        <div class="col-md-2 mb-4">
        </div>
        <div class="col-md-8 mb-4">
            <!--Card-->
            <div class="card mb-4">

                <!-- Card header -->
                <div class="card-header text-center">
                    Hey there! You're back!
                </div>

                <!--Card content-->
                <div class="card-body">
                    <form class="form" role="form" autocomplete="off" id="form_case" novalidate="" action="{{ url_for('case') }}" method="get">
                        {% for case in resp.cases %}
                        <div class="radio">
                            <label>
                                <input type="radio" class="" name="case_name" id="{{ case }}" value="{{ case }}" required="">&nbsp;&nbsp;{{ case }}
                            </label>
                        </div>
                        {% endfor %}
                        <input type="submit" value="Select" class="btn btn-primary btn-lg float-right" id="btn_case"></input>
                    </form>
                    <canvas id="case_form"></canvas>
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock %}