{% extends "layout/index_layout.html" %} {% block body %}
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

        <!--Grid column-->
        <div class="row wow fadeIn">
            <div class="col-md-2 mb-4">
            </div>
            <div class="col-md-8 mb-4">
                <!--Card-->
                <div class="card mb-4">

                    <!-- Card header -->
                    <div class="card-header text-center">
                        Select A Case
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <form class="form" role="form" autocomplete="off" id="form_case" novalidate="" action="{{ url_for('case') }}" method="get">
                            {% for case in resp.cases %}
                            <div class="radio">
                                <label>
                                    {% if loop.index == 1 %}
                                    <input type="radio" class="" name="case_name" id="{{ case }}" value="{{ case }}" required="" checked>&nbsp;&nbsp;{{ case }} {% else %}
                                    <input type="radio" class="" name="case_name" id="{{ case }}" value="{{ case }}" required="">&nbsp;&nbsp;{{ case }} {% endif %}
                                </label>
                            </div>
                            {% endfor %}
                            <input type="submit" value="Select" class="btn btn-primary btn-lg float-right" id="btn_case"></input>
                            <div class="form-group">
                                <small id="caseHelp" class="text-danger">
                                    {{ resp.result }}
                                </small>
                            </div>
                        </form>
                        <canvas id="case_form"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}