{% extends "layout/login_layout.html" %} {% block body %}
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">
        <!--Grid column-->
        <div class="row wow fadeIn">
            <div class="col-md-2 mb-4">
            </div>
            <div class="col-md-8 mb-4">
                <!--Card-->
                <div class="card mb-4">
                    <!--Card content-->
                    <div class="card-body">
                        <div class="alert alert-info" style="margin: 25px;">
                            Contact System Admin to Register!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}