{% extends "layout/layout.html" %} {% block sidebar %}
<!--Main Navigation-->
<!-- Navbar -->

<script>
</script>

<div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action waves-effect" id="1" onClick="toggleTable(1)">
        <i class="fa fa-pie-chart mr-3"></i>Processes
    </a>
    <a class="list-group-item list-group-item-action waves-effect" id="2" onClick="toggleTable(2)">
        <i class="fa fa-user mr-3"></i>Services</a>
    <a class="list-group-item list-group-item-action waves-effect" id="3" onClick="toggleTable(3)">
        <i class="fa fa-table mr-3"></i>Network Connections</a>
    <a class="list-group-item list-group-item-action waves-effect" id="4" onClick="toggleTable(4)">
        <i class="fa fa-map mr-3"></i>Registry Hives</a>
    <a class="list-group-item list-group-item-action waves-effect" id="5" onClick="toggleTable(5)">
        <i class="fa fa-money mr-3"></i>Kernel Modules</a>
    <a class="list-group-item list-group-item-action waves-effect" id="77" onClick="toggleTable(77)">
        <i class="fa fa-money mr-3"></i>Report</a>
    <a href="{{ url_for('logout') }}" class="btn btn-primary" id="7">Logout
    </a>
</div>


{% endblock %}