{% extends "layout/layout.html" %} {% block sidebar %}
<!--Main Navigation-->
<div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action waves-effect" id="1" onClick="">
        <i class="fa fa-pie-chart mr-3"></i>Select Case
    </a>
    <a href="#" class="list-group-item list-group-item-action waves-effect" id="2" onClick="">
        <i class="fa fa-user mr-3"></i>Start New Case</a>
    <a href="{{ url_for('logout') }}" class="btn btn-primary" id="6">Logout
    </a>
</div>

{% endblock %}