{% extends "layout/case_layout.html" %} {% block body %}
<!--Main layout-->
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">
        <!--Grid row-->
        <div class="row wow fadeIn">
            <!--Grid column-->
            <div class="col-md-12 mb-4">
                <center>
                    <!--Card-->
                    {% for artifact_obj in case_data["artifacts"]: %} {% for k, v in artifact_obj.iteritems(): %} {% set type = [] %} {% if k
                    == 'process_list': %} {% do type.append(1) %} {% elif k == 'service_list': %} {% do type.append(2) %}
                    {% elif k == 'network_list': %} {% do type.append(3) %} {% elif k == 'registry_list': %} {% do type.append(4)
                    %} {% elif k == 'kernel_list': %} {% do type.append(5) %} {% endif %}
                    <div class="card" id="table{{type[0]}}">
                        <!-- Card header -->
                        <div class="card-header text-center">
                            {{k}}
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                            <!-- Table  -->
                            <table class="table table-hover">
                                <!-- Table head -->
                                <thead class="blue-grey lighten-4">
                                    <tr>
                                        {% for ke, va in v[0].iteritems(): %} {% if ke != 'object_id' and ke != 'marked' and ke != 'start' %}
                                        <th> {{ke}} </th>
                                        {% endif %} {% endfor %}
                                        <th>Add to report</th>
                                    </tr>
                                </thead>
                                <!-- Table head -->
                                <tbody>
                                    {% for artifact in v %}
                                    <tr>
                                        {% set id = [] %} {% set btn = [] %} {% for ke, va in artifact.iteritems() %} {% if ke == 'marked' %} {% do btn.append(va)
                                        %} {% endif %} {% if ke == 'object_id' %} {% do id.append(va) %} {% do id.append(url_for('add_artifact'))%}
                                        {% endif %} {% if ke != 'object_id' and ke != 'marked' and ke != 'start' %} {% if
                                        ke == 'physical_offset': %}
                                        <td>0x{{ '%0x' % va}}</td>
                                        {% else: %}
                                        <td>{{ va }}</td>
                                        {% endif %}{% endif %}{% endfor %}
                                        <td>
                                            <button type="button" class="btn btn-primary" id="btn_{{id[0]}}" onclick="addToReport('{{ id[0] }}', '{{ id[1] }}')" {{ btn[0]
                                                }}>Add</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %} {% endfor %}
                    <!--/.Card-->
                </center>
            </div>
        </div>
        <!--Grid row-->
    </div>
</main>
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js')}}"></script>
<!-- Case JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/case.js')}}"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script> {% endblock %}