{% extends "layout/case_layout.html" %} {% block body %}
<!--Main layout-->
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">
        <!--Grid row-->
        <div class="row wow fadeIn">
            <!--Grid column-->
            <div class="col-md-12 mb-4">
                <center>
                    <!--Card-->
                    {% for artifact_obj in case_data["artifacts"]: %} {% for k, v in artifact_obj.iteritems(): %} {% set type = [] %} {% if k
                    == 'process_list': %} {% do type.append(1) %} {% elif k == 'service_list': %} {% do type.append(2) %}
                    {% elif k == 'network_list': %} {% do type.append(3) %} {% elif k == 'registry_list': %} {% do type.append(4)
                    %} {% elif k == 'kernel_list': %} {% do type.append(5) %} {% elif k == 'phandle_list': %} {% do type.append(6)
                    %} {% elif k == 'dll_object_list': %} {% do type.append(7) %} {% endif %}
                    <div class="card" id="table{{type[0]}}">
                        <!-- Card header -->
                        <div class="card-header text-center">
                            {{k}}
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                            <!-- Table  -->
                            <table class="table table-hover">
                                <!-- Table head -->
                                <thead class="blue-grey lighten-4">
                                    <tr>
                                        {% for ke, va in v[0].iteritems(): %} {% if ke != 'object_id' and ke != 'marked' and ke != 'start' and ke != 'comment'%}
                                        <th> {{ke}} </th>
                                        {% endif %} {% endfor %}
                                        <th>Add to report</th>
                                    </tr>
                                </thead>
                                <!-- Table head -->
                                <tbody>
                                    {% for artifact in v %}
                                    <tr>
                                        {% set id = [] %} {% set btn = [] %} {% for ke, va in artifact.iteritems() %} {% if ke == 'marked' %} {% do btn.append(va)
                                        %} {% endif %} {% if ke == 'object_id' %} {% do id.append(va) %} {% do id.append(url_for('add_artifact'))%}{%
                                        do id.append(url_for('remove_artifact'))%} {% endif %} {% if ke != 'object_id' and
                                        ke != 'marked' and ke != 'start' and ke != 'comment'%} {% if ke == 'physical_offset':
                                        %}
                                        <td>0x{{ '%0x' % va}}</td>
                                        {% else: %}
                                        <td>{{ va }}</td>
                                        {% endif %}{% endif %}{% endfor %}
                                        <td>
                                            <button type="button" class="btn btn-primary" id="btn_{{id[0]}}" onclick="addToReport('{{ id[0] }}', '{{ id[1] }}', '{{k}}', '{{ id[2] }}')"
                                                {{ btn[0] }}>Add</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %} {% endfor %}
                    <!--/.Card-->

                    <!-- Report -->
                    <!--Card-->
                    <div class="card" id="table77">
                        <!-- Card header -->
                        <div class="card-header">
                            <p class="float-left" style="font-size: 30px;">Report</p>
                            <a href="{{ url_for('get_report') }}" class="btn btn-primary float-right" id="generateReport" target="_blank">Generate Report
                            </a>
                            <br>
                            <br>
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                            <div class="form" role="form" autocomplete="off" id="formReport">
                                {% set report1 = [] %} {% do report1.append(url_for('update_report')) %}
                                <div class="form-group">
                                    <label for="overview" class="float-left">Overview or case summary</label>
                                    <input type="text" class="my_input form-control form-control-lg rounded-0" name="overview" id="overview" value="{{case_data['case_overview']}}">
                                </div>
                                <div class="form-group">
                                    <label for="acquisition" class="float-left">Forensic acquisition and Exam Preparation</label>
                                    <input type="text" class="my_input form-control form-control-lg rounded-0" name="acquisition" id="acquisition" autocomplete="off"
                                        value="{{case_data['case_acquisition']}}">
                                </div>
                                <div class="form-group">
                                    <label for="findings" class="float-left">Findings and Reports</label>
                                    <input type="text" class="my_input form-control form-control-lg rounded-0" name="findings" id="findings" autocomplete="off"
                                        value="{{case_data['case_findings']}}">
                                </div>
                                <div class="form-group">
                                    <label for="conclusion" class="float-left">Conclusion based on analysis</label>
                                    <input type="text" class="my_input form-control form-control-lg rounded-0" name="conclusion" id="conclusion" autocomplete="off"
                                        value="{{case_data['case_conclusion']}}">
                                </div>
                                <button class="btn btn-primary" id="updateReport" onclick="updateReport('1', '{{report1[0]}}')">Update
                                </button>
                            </div>

                            {% for artifact_obj in case_data["artifacts"]: %} {% for k, v in artifact_obj.iteritems(): %}
                            <div>
                                <hr>
                                <p>{{k}}</p>
                                <hr>
                                <!-- Table  -->
                                <table class="table table-hover" id="{{k}}">
                                    <!-- Table head -->
                                    <thead class="blue-grey lighten-4">
                                        <tr>
                                            {% for ke, va in v[0].iteritems(): %} {% if ke != 'object_id' and ke != 'marked' and ke != 'start' %}
                                            <th> {{ke}} </th>
                                            {% endif %} {% endfor %}
                                            <th class="remove-btn">Remove from report</th>
                                        </tr>
                                    </thead>
                                    <!-- Table head -->
                                    <tbody>
                                        {% set empty_flag = [] %} {% for artifact in v %} {% if artifact['marked'] == "disabled" %} {% do empty_flag.append(1) %}
                                        <tr id="tr_{{artifact['object_id']}}">
                                            {% set id = [] %} {% set btn = [] %} {% for ke, va in artifact.iteritems() %} {% if ke == 'marked' %} {% if va=="enabled"
                                            %} {% do btn.append("disabled") %} {% else %} {% do btn.append("enabled") %}
                                            {% endif %} {% endif %} {% if ke == 'object_id' %} {% do id.append(va) %} {%
                                            do id.append(url_for('remove_artifact'))%} {% endif %} {% if ke != 'object_id'
                                            and ke != 'marked' and ke != 'start' %} {% if ke == 'physical_offset': %}
                                            <td>0x{{ '%0x' % va}}</td>
                                            {% else: %}
                                            <td>{{ va }}</td>
                                            {% endif %}{% endif %}{% endfor %}
                                            <td>
                                                <button type="button" class="btn btn-primary" id="btn_d_{{id[0]}}" onclick="removeFromReport('{{ id[0] }}', '{{ id[1] }}')"
                                                    {{ btn[0] }}>Remove</button>
                                            </td>
                                        </tr>
                                        {% endif %} {% endfor %} {% if empty_flag | length
                                        < 1 %} <tr id="{{k}}_tr">
                                            <td>
                                                <strong>No Artifacts Selected</strong>
                                            </td>
                                            </tr>
                                            {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <br> {% endfor %} {% endfor %}
                        </div>
                    </div>
                    <!--/.Card-->
                    <!-- /Report -->

                </center>
            </div>
        </div>
        <!--Grid row-->
    </div>
</main>
<!-- SCRIPTS -->
<!-- Case JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/case.js')}}"></script>
<!-- Initializations -->
{% endblock %}